<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.advectus.zp2az81735mvyrv4hcsthld51cg2rok</string>
   <key>Program</key>
   <string>/Users/edmricha/Development/MyLibrary/osx-launch-agents/agents/zp2az81735mvyrv4hcsthld51cg2rok/exec.sh</string>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>

